@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Roboto-Thin.ttf);
}

body {
  background-color: #000000;
  font-family: Roboto;
  color: #AFAFAF;
  user-select: none;
}

a:link, a:active, a:visited, a:hover, a {
  color: inherit;
}

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50vw;
  bottom: 0vh;

  text-align: center;
  font-size: 2vh;
}

.credits  {
  position: absolute;
  bottom: 2vh;
  font-size: 2vh;
}

#left {
  left: 2vw;
}

#right {
  right: 2vw;
}

@media only screen and (max-width: 481px) {
  #instructions {
    bottom: 10vh;
  }
}
